<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="add.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
        <table border="2">
        <tr>
            
            <th>PRODUCT_NAME</th>
            <th>IMAGE</th>
            <th>CATEGORY</th>
            <th>DESCRIPTION</th>
            <th colspan="2"></th>
            
        </tr>
        <tr>
            
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td><a href="" class="EDIT"><li class="material-icons">edit</li></a></td>
            <td><a href="" class="DELETE"><li class="material-icons">delete</li></a></td>
        </tr>
    </table>

</body>
</html>