<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <div class="card">
    <form method="POST" action="/addproduct/">
        {% csrf_token %}
        <div>
            <label for="PRODUCT_ID">product_id</label>
            <input type="text"/>
        </div>
        <div>
            <label for="PRODUCT_NAME">product_name</label>
            <input type="text" name="Name"/>
        </div>
        <div>
            <label for="image">image</label>
             <input type="file" name="Productimages">   
         </div>
         <div>
            <label for="category">category</label>
            <input type="text" name="Category"/>
         </div>
         <div>
            <label for="description">description</label>
            <input type="text" name="Description"/>
         </div>
         <div>
            <input type="submit" value="add">
         </div>  
          </form>
          </div>
</body>
</html>